
* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav ul {
    display: flex;
}

/* Container 1 */

img .img-mission {
    width: 1200px;
    height: 700px;

}