
* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
	}

body {
	opacity: 0.9;
	
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
	width: 100%;
	border-bottom: 1px solid seashell;
	z-index: 1;
	
    
}
.logo {
    margin-left: 10px;
    height: 50px;
}
.navbar nav ul {
    display: flex;
}

.navbar nav ul li {
    list-style: none;
    text-decoration: underline;
}

/* Container 1 */
.container-1 {
   
}

img .img-mission {    
    width: 1200px;
    height: 700px;
	overflow: hidden;
	
}
.img-mission {
	margin-top: 69px;
	overflow: hidden;
	
}

/* footer */

footer {
	
}