
* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
	}

body {
		opacity: 0.9;
		text-align: center;
}

/* Header bar */  

#home-wrapper {
	margin-bottom: 120px;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 1px solid seashell;
	overflow: hidden;    
	z-index: 1;
}

.logo {
    margin-left: 10px;
    height: 50px;
}

.navbar nav ul {
    display: flex;
	margin-right: 10px;
}

.navbar nav ul li {
    list-style: none;
    text-decoration: underline;
	padding: 10px;
}

/* main */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Mission */

#mission {
	display: flex;
	position: relative;
    justify-content: center;
    align-items: center;
	height: 700px;
	width: 1200px;
	background-image: url("./media/img-mission-background.webp");
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: center;
}
.mission-text {
	width: 1200px;
}

/* Tea of the month container */
#teaofthemonth {	
	width: 1000px;
	text-align: center;
}

#tea-text {
}

#img-month {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 1000px;
}

.tea-type {
	margin: 10px;
}

/* Locations */

#locations {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-image: url("./media/img-locations-background.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	width: 1200px;
	opacity: 0.9;
}

.location-header {
	background: none;
}

#address-container {
	display: flex;
	opacity: 1;	
	align-items: center;
	background: none;
}

#address-container > div {
	margin: 20px;
	width: 300px;
	height: 300px;
	
}

.address {
	line-height: 2;
	
}


/* footer */

#footer {
	
	
	height: 200px;
	
}

.copyright {
	margin-left: 20px;
	text-align: left;

	
}
